#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    tags: [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
    ],
//    ["", "", "", "", "", "", "", "", "", "",]
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndHorizontalStack,
        MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        LeftMain,
        CenterMain,
        CenterMainBalanced,
        CenterMainFluid,
        Monocle,
        RightWiderLeftStack,
        LeftWiderRightStack,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        ( name: "Alacritty", // This is the name which is referenced when calling (case-sensitive)
          value: "alacritty -e fish", // The command to load the application if it isn't started (first application to start)
          // x, y, width, height are in pixels when an integer is inputted or a percentage when a float is inputted.
          // These values are relative to the size of the workspace, and will be restricted depending on the workspace size.
          x: 500, y: 300, height: 600, width: 1000
        ),
    ],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    keybind: [
        // dmenu handled by sxhkd
        //(command: Execute, value: "dmenu_run", modifier: ["modkey"], key: "p"),
        (command: Execute, value: "alacritty -e fish", modifier: ["modkey"], key: "Return"),
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "x"),
        // using the one built into arcolinux instead
        //(command: Execute, value: "slock", modifier: ["modkey", "Control"], key: "l"),
        //(command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        //(command: MoveWindowTop, value: "", modifier: ["modkey", "Shift"], key: "Return"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "h"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "l"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "k"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j"),
        //(command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l"),
        //(command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h"),
        /* don't use arrow keys since 60% keyboard doesn't have them easily accessible
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "Left"),
        */
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: ToggleFloating, value: "", modifier: ["modkey", "Control"], key: "f"),
        (command: IncreaseMainWidth, value: "5", modifier: ["modkey", "Control"], key: "i"),
        (command: DecreaseMainWidth, value: "5", modifier: ["modkey", "Control"], key: "d"),
        (command: ToggleScratchPad, value: "Alacritty", modifier: ["modkey"], key: "p")
    ],
    workspaces: [],
)
